// textColor
$accentTextColor: rgb(0, 162, 255);
$hoverAccentTextColor: #0066ff;

// title color
$listTitleColor: #41528f;

// element background color
$bgColor: #caffca9d;

// shadow
$boxShadow: 0px 8px 23px -7px rgba(175, 199, 96, 0.53);
$asideShadow: 8px 0px 23px -7px rgba(34, 60, 80, 0.31);
